
.dim { color:grey; }
.fielddesc { color:#666666; display:block; font-size:60%; font-weight:normal; text-align:right; width:140px; }
.spacer { clear:both; height:3px; }
.field { left: 40%; text-align:center; margin:auto; clear:both; }
.field .label { width:10%; text-align:right; float:left; font-weight:normal; }
.field .data { padding-left:4px; text-align:left; float:left; font-weight:bold;}

.warning { color:red; }

.serverlist { left: 45%; width:50%; margin-top: 4px; padding-top:4px;}
.serverlist ol {padding:0px; margin: 0px;}
.serverlist ol li {text-align:left;}

body { font-size: 95%; font-family: arial; }

#content { text-align:center; width:80%; margin-top:10px; margin-left: auto; margin-right: auto; border:solid 2px #b7ddf2; background:#ebf4fb; padding-top:10px; padding-bottom: 10px;}
#content table { background-color:white; margin-left:10px; margin-right:10px; width:95%; border-spacing:0;}
#content table th { border-bottom:1px solid #000; font-weight: normal; text-align:left; padding:4px;}
#content ol { width:0%; margin:0 auto; }
#content ol li { white-space:nowrap; }
#content h1 { font-size:140%; font-weight:bold; margin-bottom:6px; clear:both;}
#content h2 { font-size:105%; font-weight:bold; padding-top: 12px; margin-bottom: 4px; padding-bottom: 0px; clear:both;}
#content a { font-weight: bold; }
#content form { text-align:center; width:95%; padding:14px; } 
#content form fieldset { padding:0; border:0; margin-top:25px; }
#content form label { display:block; font-weight:bold; text-align:right; width:140px; float:left; } 
#content form p {clear:both; }
#content form input, form select, form textarea { padding:4px 2px; border:solid 1px #aacfe4; margin:2px 0 20px 10px; }
#content form input[type=text], form select, form textarea {  width:200px; }
#content form input[type=checkbox] { }

#links { text-align:center; font-size:80%; font-weight:bold;}
#links ul li { display: inline-block; margin: 0 10 0 0; }
